<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/main.css"/>
<link type="text/css" rel="stylesheet" href="css/main.icons.css"/>
<link type="text/css" rel="stylesheet" href="css/main.theme.css"/>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43423432-1', 'cabletipster.com');
  ga('send', 'pageview');

</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<style>
	span {
		display: block;
	}
</style>
<title>Neighborhood Service Info</title>
</head>
<body ng-app="tipOutput" ng-controller="Tips">
   <header class="bck theme">
        <div class="row">
            <div class="column_6">
                <h2 class="text italic thin">Cable Tipster</h2>
            </div>
            <!--
            <nav class="column_6 text right">
                <a href="#" class="button secondary"><span class="icon user"></span>Login</a>
                <a href="#" class="button"><span class="icon pencil"></span>Signup</a>
            </nav>
            -->
        </div>
    </header>
	<div class="column_10 offset_1" ng-controller="MainCtrl">
      <h3 class="text book color theme padding-top">Check out these great deals near you!</h3>  
        <form class="padding-top text right">  
          <div style="float:right" class="column_4">
        	 <input type="text" ng-model="query" placeholder="Search for plans...">
          </div>
          <fieldset style="float:right">
            <span class="select">
              <select style="width:100%" ng-model="filterItem.plan" ng-options="item.name for item in filterOptions.plans">
            </span>
            </select>
          </fieldset>
        </form>
		<table>
			<thead>
				<tr>
          <th>Votes</th>
					<th>Price</th>
					<th>Zip Code</th>
					<th>Plan Contents</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="tip in tips | toArray | orderBy:'priceMonthly' | tipFilter:query | filter:customFilter" ng-controller="Votes" ng-init="init(tip.val())">
					<td style="text-align:center">
            <div id="vote-count">
              <a href="#" ng-click="vote = vote + 1"><span style="display:inline-block;font-size:20px" class="icon up-sign padding-right"></span></a>
              <span class="text left" style="display:inline-block">{{vote}} votes</span>
            </div>
          </td>
          <td style="text-align:center"><h3>{{tip.priceMonthly | currency}}</h3></td>
					<td style="vertical-align:top;text-align:center"><span><strong>{{tip.zipCode}}</strong></span></td>
					<td style="vertical-align:top"><span><strong>{{tip.providerName}}</strong></span><span ng-show="tip.TVPackage">TV Package: {{tip.TVPackage}}</span><span ng-show="tip.internetPackage">Internet Package: {{tip.internetPackage}}</span><span ng-show="tip.addOns">Add-ons: {{tip.addOns}}</span><span ng-show="tip.numberTotalTV"># of TVs: {{tip.numberTotalTV}}</span></td>
				</tr>
			</tbody>
		</table>
    </div>  
<script type="text/javascript" src="http://static.firebase.com/v0/firebase.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js"></script>
<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase-simple-login.js'></script>
<script src="js/core.js"></script>
<script type="text/javascript">
 //AngularFire 
angular.module('tipOutput', ['firebase', 'filters'])
  .controller('Tips', ['$scope', 'angularFire', 
	function ($scope, angularFire) {
		var ref = new Firebase('https://cabletipster.firebaseio.com/tips');
		angularFire(ref, $scope, "tips");
	}])
  .controller('Votes', ['$scope', function($scope) {
      $scope.init = function(tipID) {
        $scope.tipID = tipID;
        var voteRef = new Firebase('https://cabletipster.firebaseio.com/tips/' + tipID);
        $scope.vote = 0;
        voteRef.set({"vote": vote}, function(error) {
            if(error) {
              console.log(error);
            }
         }
        );
        $scope.$watch("vote", updateHotDeal);

        function updateHotDeal() {

          if ($scope.vote >= 5) {
            $scope.hotDeal = true;
          } else {
            $scope.hotDeal = false;
          }
        }
      };
  }])
  .filter('toArray', function () {
    'use strict';

    return function (obj) {
        if (!(obj instanceof Object)) {
            return obj;
        }

        return Object.keys(obj).map(function (key) {
            return Object.defineProperty(obj[key], '$key', {__proto__: null, value: key});
        });
    }
  })

  .controller('MainCtrl', function($scope) {
  
  //Contains the filter options
  $scope.filterOptions = {
    plans: [
      {id : 2, name : 'Filter Plan Type', type: 'all' },
      {id : 3, name : 'TV & Internet Bundle', type: 'tv-internet' },
      {id : 4, name : 'TV Only', type: 'tv' },
      {id : 5, name : 'Internet Only', type: 'internet' },
      {id : 6, name : 'TV, Internet & Phone Bundle', type: 'tv-internet-phone' },
      {id : 7, name : 'Internet & Phone Bundle', type: 'internet-phone' },
      {id : 8, name : 'TV & Phone Bundle', type: 'tv-phone' }  
    ]
  };
  
  //Mapped to the model to filter
  $scope.filterItem = {
    plan: $scope.filterOptions.plans[0]
  }
  
  //Custom filter - filter based on the rating selected
  $scope.customFilter = function (tip) {
    if (tip.servicesReceived === $scope.filterItem.plan.type) {
      return true;
    } else if ($scope.filterItem.plan.type === 'all') {
      return true;
    } else {
      return false;
    }
  };  
});

angular.module('utils', [])
  .factory('utils', function(){
    return{
      compareStr: function(stra, strb){
        stra = ("" + stra).toLowerCase();
        strb = ("" + strb).toLowerCase();
        return stra.indexOf(strb) !== -1;
      }
    };
  });
angular.module('filters',['utils'])
  .filter('tipFilter', function(utils){
    
    return function(input, query){
      if(!query) return input;
      var result = [];
      
      angular.forEach(input, function(tip){
        if(utils.compareStr(tip.priceMonthly, query) ||
           utils.compareStr(tip.zipCode, query) ||
           utils.compareStr(tip.providerName, query) ||
           utils.compareStr(tip.TVPackage, query) ||
           utils.compareStr(tip.internetPackage, query) ||
           utils.compareStr(tip.addOns, query))
          result.push(tip);          
      });
      return result;
    };
  });
</script>
</body>
</html>