<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="tipInputApp" ng-controller="LoginCtrl">
<head>
<link type="text/css" rel="stylesheet" href="css/main.css">
<link type="text/css" rel="stylesheet" href="css/main.theme.css">
<link type="text/css" rel="stylesheet" href="css/main.icons.css">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta charset="utf-8">
<script type="text/javascript" src="https://cdn.firebase.com/v0/firebase.js"></script>
<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase-simple-login.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="https://connect.facebook.net/en_US/all.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js"></script>
<script src="js/geoFire.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEaWA_R7CbaQU7GeFD80qoqT_eXy7t8M4&libraries=geometry&sensor=false&language=en"></script>
<script src="js/tipInputApp.js"></script>
<script src="js/modules/authInputModule.js"></script>
<script src="js/modules/tipInputModule.js"></script>
<script src="js/address.js"></script>

    <style>
      #progressbar {
          background-color: #dadada;
          border-radius: 10px;
      }
        
      #progressbar > div {
           background-color: #3399CC;
           height: 20px;
           border-radius: 10px;
      }
      h4 {
        color: #3399CC;
      }
    </style>
    <title>Help us compare your rates</title>
    <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
mixpanel.init("05198e767a9d929bed8f12c0d68fb2e6");</script><!-- end Mixpanel -->
  </head>
<body ng-controller="MainCtrl">
  <section>
    <a id="top"></a>
    <header class="bck theme">
          <div class="row">
              <div class="column_6">
                  <a href="index.html"><img src="img/CableTipsterLogo.png" /></a>
                  <a href="#" class="button secondary show-phone on-right" style="vertical-align:top" ng-show="user" ng-click="logout()" >Logout</a>
              </div>
              <div class="on-right hide-phone" style="padding-top:4px">
                  <a href="feedback.html" class="button success" ng-show="user" >Feedback</a>
                  <a href="#" class="button secondary" ng-show="user" ng-click="logout()" >Logout</a>
              </div>       
          </div>
      </header>
    </section>
    <section>
      <div class="row padding-top padding-bottom">
        <div class="column_12 padding-bottom" style="margin:0px">
          <div class="column_1">
            <span ng-show="step==1" style="float:left;width:89px;height:37px"></span>
            <button ng-show="step==2" ng-click="step = 1" class="secondary button"><span class="icon arrow-left"></span>Back</button>
            <button ng-show="step==3" ng-click="step = 2" class="secondary button"><span class="icon arrow-left"></span>Back</button>
            <button ng-show="step==4" ng-click="step = 3" class="secondary button"><span class="icon arrow-left"></span>Back</button>
          </div>
          <div class="column_1" style="text-align:right;margin-right:5px">
            <span ng-show="step==1">25%</span>
            <span ng-show="step==2">50%</span>
            <span ng-show="step==3">75%</span>
            <span ng-show="step==4">90%</span>
          </div>
          <div class="column_2" id="progressbar" style="margin-left:5px">
              <div ng-show="step==1" style="width:25%"></div>
              <div ng-show="step==2" style="width:50%"></div>
              <div ng-show="step==3" style="width:75%"></div>
              <div ng-show="step==4" style="width:90%"></div>
          </div>
        </div>
        <div class="column_12" style="margin:0px">
          <h4 ng-show="step==1">Tell us about your provider</h4>
          <small ng-show="step==1">First, tell us which provider you use and what services you receive.</small>
          <h4 ng-show="step==2">Help save your neighborhood money.</h4>
          <small ng-show="step==2">Your <strong>anonymous</strong> info will help you and your neighbors save money!</small>
          <h4 ng-show="step==3">A few more details to get the best data!</h4>
          <small ng-show="step==3">With just a few more details, we'll best be able to compare rates!</small>
          <h4 ng-show="step==4">Final step and you're done!</h4>
          <small ng-show="step==4">We just need your street address and zip code info to locate the best tips in your neighborhood.</small>
          <div class="padding-top" ng-show="step==2 || step==3">
            <small class="text underline" ng-click="providerHelp = true" ng-hide="providerHelp"><span class="icon caret-right"></span> Where can I find this info?</small>
            <small class="text underline" ng-click="providerHelp = false" ng-show="providerHelp"><span class="icon caret-down"></span> Where can I find this info?</small>
            <div ng-show="providerHelp" class="bck light">
              <div ng-show="providerComcast" class="padding">
                <p>You can find all plan info on your Comcast bill.<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a class="button small" href="http://customer.comcast.com/" target="_blank">Check your bill</a></p>
              </div>
              <div ng-show="providerATT" class="padding">
                <p>You can find all plan info on your AT&T bill.<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a class="button small" href="https://www.att.com/olam/loginAction.olamexecute" target="_blank">Check your bill</a></p>
              </div>
              <div ng-show="providerDirecTV" class="padding">
                <p>You can find all plan info on your DirecTV bill.<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a class="button small" href="https://www.directv.com/DTVAPP/login/login.jsp" target="_blank">Check your bill</a></p>
              </div>
              <div ng-show="providerDishNetwork" class="padding">
                <p>You can find all plan info on your Dish Network bill.<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a class="button small" href="https://my.dish.com/" target="_blank">Check your bill</a></p>
              </div>
              <div ng-show="providerSonicNet" class="padding">
                <p>You can find all plan info on your Sonic.net bill.<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a class="button small" href="https://members.sonic.net/‎" target="_blank">Check your bill</a></p>
              </div>
              <div ng-show="providerAstound" class="padding">
                <p>You can find all plan info on your Astound bill.<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a class="button small" href="http://www.astound.net/account/my-account.php" target="_blank">Check your bill</a></p>
              </div>
              <div ng-show="providerWebpass" class="padding">
                <p>You can find all plan info on your Webpass bill.<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a class="button small" href="https://www.webpass.net/login_sessions/new" target="_blank">Check your bill</a></p>
              </div>
              <div ng-show="providerOther" class="padding">
                <p>You can find all plan info on your {{providerNameOther}}'s monthly bill.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <section class="row">
  <form name="tipForm" ng-init="step=1" novalidate>
    <div ng-show="step==1">
      <div ng-form="step1Form">
        <p class="text book">Tell us your service provider:</p>
        <span class="select"></span>
        <select ng-model="providerName" data-placeholder="Choose service provider here..." class="chosen-select" style="width:300px;" tabindex="2" ng-change="providerSelected()" required>
            <option value="">Choose service provider here...</option>
            <option value="Comcast">Comcast</option>
            <option value="AT&T">AT&T U-Verse</option>
            <option value="DirecTV">DirecTV</option>
            <option value="Dish Network">Dish Network</option>
            <option value="Astound">Astound</option>
            <option value="Webpass">Webpass</option>
            <option value="Sonic.net">Sonic.net</option>
            <option value="Other">Other</option>
        </select>
        <p ng-show="providerOther" class="margin-top">If "Other", type provider name:</p>
        <input ng-model="providerNameOther" type="text" ng-show="providerOther" style="width:300px" ng-required="providerOther">
        <div ng-show="providerBundle">
          <p class="margin-top">What services do you receive from this provider?</p>
          <select ng-model="servicesReceived" data-placeholder="Choose services here..." class="chosen-select" style="width:300px;" tabindex="2" ng-required="providerBundle" ng-change="serviceSelected()">
            <option value="">Choose services here...</option>
              <option value="tv-internet">TV & Internet Bundle</option>
              <option value="tv">TV Only</option>
              <option value="internet">Internet Only</option>
              <option value="tv-internet-phone">TV, Internet & Phone Bundle</option>
              <option value="internet-phone">Internet & Phone Bundle</option>
              <option value="tv-phone">TV & Phone Bundle</option>
          </select>
        </div>
      </div>
      <button id="step1button" class="margin-top" ng-disabled="!step1Form.$valid" ng-click="step2()">Next</button>
    </div>
    <div ng-show="step==2">
      <div ng-form="step2Form">
          <div>
            <p class="strong">How long is your contract?</p>
            <select ng-model="lengthContract" data-placeholder="Choose contract length here..." class="chosen-select" style="width:300px;" tabindex="2" ng-change="contractTypeSelected()" required>
              <option value="">Choose contract length here...</option>
              <option value="No Contract">No Contract (Month-to-Month)</option>
              <option value="6 Months">6 Months</option>
              <option value="12 Months">12 Months</option>
              <option value="18 Months">18 Months</option>
              <option value="24 Months">24 Months</option>
            </select> 
          </div>
          <div class="padding-top" ng-show="askContractType" >         
            <p class="strong">Is this your first contract or did you renew?</p>
            <select ng-model="contractType" data-placeholder="Select.." class="chosen-select" style="width:300px;" tabindex="2" ng-required="askContractType">
                <option value="">Choose an option..</option>
                <option value="New User Promotion">First contract with provider</option>
                <option value="Existing User Promotion">I renewed with provider</option>
<!--                 <option value="No Promotion">I am month-to-month and my original price expired</option> -->
            </select> 
          </div>
          <div class="padding-top">       
            <p class="strong">Enter your monthly price for these services</p>
              <p class="">(including taxes & fees)</p>
              <p>
                <input type="text" name="priceMonthly" style="width:300px" placeholder="Enter your monthly price here" ng-pattern="/[0-9]\.?[0-9]{0,2}$/"ng-minlength="2" ng-model="priceMonthly" required/>
                <span class="error" ng-show="step2Form.priceMonthly.$error.minlength || step2Form.priceMonthly.$error.pattern">Not in valid price range!</span>
              </p>
          </div>
      </div>
      <button id="step2button" ng-disabled="!step2Form.$valid" ng-click="step3()" class="padding-top">Next</button>
    </div>
    <div ng-show="step==3">
      <div ng-form="step3Form">      
        <div ng-show="servicesTV">
          <div ng-show="providerComcast">
            <p>Choose your TV package</p>
            <ul style="list-style:none">
          <li>
            <div>
            <input type="radio" name="TVradio" id="TVradio-1" class="radioSquare" value="Digital Economy" ng-model="TVradio" ng-required="servicesTV">
            <label for="TVradio-1" class="radioLabel">Digital Economy (45+ Channels - Discovery, CNN, A&E, etc)</label>
            </div>
                </li>
          <li>
                  <div>
            <input type="radio" name="TVradio" id="TVradio-2" class="radioSquare" value="Digital Starter" ng-model="TVradio" ng-required="servicesTV">
            <label for="TVradio-2" class="radioLabel">Digital Starter (80+ Channels - all of the above, plus MTV, ESPN, Nickelodeon, etc)</label>
            </div>
                </li>
                <li>
                  <div>
            <input type="radio" name="TVradio" id="TVradio-3" class="radioSquare" value="Digital Preferred" ng-model="TVradio" ng-required="servicesTV">
            <label for="TVradio-3" class="radioLabel">Digital Preferred (160+ Channels - the above, plus NFL Network, Encore, NBA TV, etc)</label>
            </div>
                </li>
                <li>
                  <div>
            <input type="radio" name="TVradio" id="TVradio-4" class="radioSquare" value="Digital Premier" ng-model="TVradio" ng-required="servicesTV">
            <label for="TVradio-4" class="radioLabel">Digital Premier (200+ Channels, the above plus HBO, Showtime, Cinemax, etc)</label>
            </div>
                </li>
            <li>
                  <div>
            <input type="radio" name="TVradio" id="TVradio-5" class="radioSquare" value="Limited Basic" ng-model="TVradio" ng-required="servicesTV">
            <label for="TVradio-5" class="radioLabel">Limited Basic (10+ Channels - Local Only)</label>
            </div>
                </li>
            </ul>
          </div>
          <div ng-show="providerATT">
            <p>Choose your TV package</p>
              <ul style="list-style:none">
                  <li>
                      <div>
                      <input type="radio" name="TVradio" id="TVradio-1" class="radioSquare" value="U-Basic" ng-model="TVradio" ng-required="servicesTV">
                      <label for="TVradio-1" class="radioLabel">U-Basic (local channels only)</label>
                      </div>
                  </li>
                  <li>
                      <div>
                      <input type="radio" name="TVradio" id="TVradio-2" class="radioSquare" value="U-Family" ng-model="TVradio" ng-required="servicesTV">
                      <label for="TVradio-2" class="radioLabel">U-Family (130+ channels, incl. Animal Planet, Disney Channel, Food Network, Nickelodeon)</label>
                      </div>
                  </li>
                  <li>
                      <div>
                      <input type="radio" name="TVradio" id="TVradio-3" class="radioSquare" value="U200" ng-model="TVradio" ng-required="servicesTV">
                      <label for="TVradio-3" class="radioLabel">U200 (280+ channels, incl. ESPN, CNN, Cartoon Network, etc)</label>
                      </div>
                  </li>
                  <li>
                      <div>
                      <input type="radio" name="TVradio" id="TVradio-4" class="radioSquare" value="U300" ng-model="TVradio" ng-required="servicesTV">
                      <label for="TVradio-4" class="radioLabel">U300 (370+ channels, incl U200 + Starz, Encore, Showtime, etc)</label>
                      </div>
                  </li>
                  <li>
                      <div>
                      <input type="radio" name="TVradio" id="TVradio-5" class="radioSquare" value="U450" ng-model="TVradio" ng-required="servicesTV">
                      <label for="TVradio-5" class="radioLabel">U450 (440+ channels, incl. U300 + HBO, etc)</label>
                      </div>
                  </li>
              </ul>          
          </div>
          <div ng-show="providerDirecTV">
            <p>Choose your TV package</p>
              <ul style="list-style:none">
                  <li>
                      <div>
                      <input type="radio" name="TVradio" id="TVradio-1" class="radioSquare" value="Entertainment Package" ng-model="TVradio" ng-required="servicesTV">
                      <label for="TVradio-1" class="radioLabel">Entertainment Package (140+ Channels, incl. ESPN, CNN, MTV, Nickelodeon, etc)</label>
                      </div>
                  </li>
                  <li>
                      <div>
                      <input type="radio" name="TVradio" id="TVradio-2" class="radioSquare" value="Choice Package" ng-model="TVradio" ng-required="servicesTV">
                      <label for="TVradio-2" class="radioLabel">Choice Package (150+ Channels, including regional sports networks such as Big Ten Network, ESPNU, etc)</label>
                      </div>
                  </li>
                  <li>
                      <div>
                      <input type="radio" name="TVradio" id="TVradio-3" class="radioSquare" value="XTRA Package" ng-model="TVradio" ng-required="servicesTV">
                      <label for="TVradio-3" class="radioLabel">XTRA Package (205+ Channels, incl. NBA TV, FOX Soccer, etc)</label>
                      </div>
                  </li>
                  <li>
                      <div>
                      <input type="radio" name="TVradio" id="TVradio-4" class="radioSquare" value="Ultimate Package" ng-model="TVradio" ng-required="servicesTV">
                      <label for="TVradio-4" class="radioLabel">Ultimate Package (225+ Channels, including all channels in XTRA plus 11 extra movie channels)</label>
                      </div>
                  </li>
                  <li>
                      <div>
                      <input type="radio" name="TVradio" id="TVradio-5" class="radioSquare" value="Premier Package" ng-model="TVradio" ng-required="servicesTV">
                      <label for="TVradio-5" class="radioLabel">Premier Package (285+ Channels, including all premium channels such as HBO, Starz, Showtime, etc)</label>
                      </div>
                  </li>
              </ul>         
          </div>
          <div ng-show="providerDishNetwork">
            <p>Choose your TV package</p>
              <ul style="list-style:none">
                  <li>
                      <div>
                      <input type="radio" name="TVradio" id="TVradio-1" class="radioSquare" value="America's Top 120" ng-model="TVradio" ng-required="servicesTV">
                      <label for="TVradio-1" class="radioLabel">America's Top 120 (190+ Channels, incl. USA, CNN, CMT, Disney, ESPN, E!)</label>
                      </div>
                  </li>
                  <li>
                      <div>
                      <input type="radio" name="TVradio" id="TVradio-2" class="radioSquare" value="America's Top 120+" ng-model="TVradio" ng-required="servicesTV">
                      <label for="TVradio-2" class="radioLabel">America's Top 120+ (190+ Channels, incl. Regional Sports Networks, FUEL TV, etc)</label>
                      </div>
                  </li>
                  <li>
                      <div>
                      <input type="radio" name="TVradio" id="TVradio-3" class="radioSquare" value="America's Top 200" ng-model="TVradio" ng-required="servicesTV">
                      <label for="TVradio-3" class="radioLabel">America's Top 200 (235+ Channels, incl. Disney XD, Bravo, Nick Jr., NFL Network, MLB Network)</label>
                      </div>
                  </li>
                  <li>
                      <div>
                      <input type="radio" name="TVradio" id="TVradio-4" class="radioSquare" value="America's Top 250" ng-model="TVradio" ng-required="servicesTV">
                      <label for="TVradio-4" class="radioLabel">America's Top 250 (290+ Channels, incl. The Movie Channel, DIY Network, H2, Nicktoons)</label>
                      </div>
                  </li>
                  <li>
                      <div>
                      <input type="radio" name="TVradio" id="TVradio-5" class="radioSquare" value="Smart Pack" ng-model="TVradio" ng-required="servicesTV">
                      <label for="TVradio-5" class="radioLabel">Smart Pack (55+ Channels, mainly local channels)</label>
                      </div>
                  </li>
              </ul>       
          </div>
          <div ng-show="providerAstound || providerOther" class="padding-top">
              <p>What is the name of your TV Package?</p>
                <ul style="list-style:none">    
                  <li>
                    <input type="text" style="width:300px" name="TVPackageName" ng-model="TVradio" ng-required="servicesTV"/>
                 </li>
                </ul>
          </div>
           <div id="inputNumberTVs" class="padding-top">
                <p>How many TVs of each type do you have?</p>
                <ul style="list-style:none">
                    <li>
                        <input type="text" style="width:50px" name="totalTVInput" id="totalTVInput" class="TVInputBox" placeholder="#" ng-model="totalTV" ng-maxlength="2" ng-required="servicesTV"/>
                        <label for="totalTVInput" class="labelTVInput">Total Number of TVs using Service</label>
                        <span class="icon arrow-left margin-left" ng-pattern="/^\d+$/" ng-show="step3Form.totalTVInput.$error.maxlength || step3Form.totalTVInput.$error.pattern"></span><span class="error" ng-show="step3Form.totalTVInput.$error.maxlength || step3Form.totalTVInput.$error.pattern">Please enter a valid number.</span>                       
                    </li>
                    <li>
                        <input type="text" style="width:50px" name="hdTVInput" id="hdTVInput" class="TVInputBox" placeholder="#" ng-model="totalHDTV" ng-pattern="/^\d+$/" ng-maxlength="2" ng-required="servicesTV"/>
                        <label for="hdTVInput" class="labelTVInput">Number of TVs that have HD Service</label>
                        <span class="icon arrow-left margin-left" ng-show="step3Form.hdTVInput.$error.maxlength || step3Form.hdTVInput.$error.pattern"></span><span class="error" ng-show="step3Form.hdTVInput.$error.maxlength || step3Form.hdTVInput.$error.pattern">Please enter a valid number.</span>        
                    </li>
                    <li>
                        <input type="text" style="width:50px" name="dvrTVInput" id="dvrTVInput" class="TVInputBox" placeholder="#" ng-pattern="/^\d+$/" ng-model="totalDVRTV" ng-maxlength="2" ng-required="servicesTV"/>
                        <label for="dvrTVInput" class="labelTVInput">Number of TVs that have DVR Service</label>
                        <span class="icon arrow-left margin-left" ng-show="step3Form.dvrTVInput.$error.maxlength || step3Form.dvrTVInput.$error.pattern"></span><span class="error" ng-show="step3Form.dvrTVInput.$error.maxlength || step3Form.dvrTVInput.$error.pattern">Please enter a valid number.</span>        
                    </li>
                </ul>
            </div>
            <div id="TVAddOns" class="padding-top">
                <p>Do you have any TV programming add-ons?</p>
                <ul style="list-style:none">
                    <li>
                        <div>
                        <input type="checkbox" name="TVAddOn" id="AddOnCheckbox-1" class="TVAddOn" ng-true-value="HBO" ng-model="AddOnHBO" >
                        <label for="AddOnCheckbox-1" class="checkboxLabel">HBO</label>
                        </div>
                    </li>
                    <li>
                        <div>
                        <input type="checkbox" name="TVAddOn" id="AddOnCheckbox-2" class="TVAddOn" ng-true-value="Showtime" ng-model="AddOnShowtime">
                        <label for="AddOnCheckbox-2" class="checkboxLabel">Showtime</label>
                        </div>
                    </li>
                    <li>
                        <div>
                        <input type="checkbox" name="TVAddOn" id="AddOnCheckbox-3" class="TVAddOn" ng-true-value="Cinemax" ng-model="AddOnCinemax">
                        <label for="AddOnCheckbox-3" class="checkboxLabel">Cinemax</label>
                        </div>
                    </li>
                    <li>
                        <div>
                        <input type="checkbox" name="TVAddOn" id="AddOnCheckbox-4" class="TVAddOn" ng-true-value="Starz" ng-model="AddOnStarz">
                        <label for="AddOnCheckbox-4" class="checkboxLabel">Starz</label>
                        </div>
                    </li>
                    <li>
                        <div>
                        <input type="checkbox" name="TVAddOn" id="AddOnCheckbox-5" class="TVAddOn" ng-true-value="Sports Premium" ng-model="AddOnSports">
                        <label for="AddOnCheckbox-5" class="checkboxLabel">Sports Premium Channels</label>
                        </div>
                    </li>
                    <li>
                        <div>
                        <input type="checkbox" name="TVAddOn" id="AddOnCheckbox-6" class="TVAddOn" ng-true-value="Latino Premium" ng-model="AddOnLatino">
                        <label for="AddOnCheckbox-6" class="checkboxLabel">Premium Latino Channels</label>
                        </div>
                    </li>
                    <li>
                        <div>
                        <input type="checkbox" name="TVAddOn" id="AddOnCheckbox-7" class="TVAddOn" ng-true-value="International Premium" ng-model="AddOnInt">
                        <label for="AddOnCheckbox-7" class="checkboxLabel">Other International Channels</label>
                        </div>
                    </li>
                    <li>
                        <div>
                        <input type="checkbox" name="TVAddOn" id="AddOnCheckbox-8" class="TVAddOn" ng-true-value=="{{AddOnOther}}">
                        <input type="text" ng-model="AddOnOther" name"TVAddOn" id="add-on-input" style="width:auto" class="TVAddOn" placeholder="Other" />
                        </div>
                    </li>
                </ul>
            </div>
          </div>
          <div ng-show="servicesInternet">
            <div ng-show="providerComcast" class="padding-top">          
              <p>Choose your Internet package</p>
              <ul style="list-style:none">
                  <li>
                      <div>
                      <input type="radio" name="internetRadio" id="internetRadio-1" class="radioSquare" value="Economy Plus" ng-model="internetRadio" ng-required="(providerComcast || providerATT) && servicesInternet">
                      <label for="internetRadio-1" class="radioLabel">Economy Plus (download speeds up to 3 Mbps)</label>
                      </div>
                  </li>
                  <li>
                      <div>
                      <input type="radio" name="internetRadio" id="internetRadio-2" class="radioSquare" value="Performance" ng-model="internetRadio" ng-required="(providerComcast || providerATT) && servicesInternet">
                      <label for="internetRadio-2" class="radioLabel">Performance (download speeds up to 25 Mbps)</label>
                      </div>
                  </li>
                  <li>
                      <div>
                      <input type="radio" name="internetRadio" id="internetRadio-3" class="radioSquare" value="Blast!" ng-model="internetRadio" ng-required="(providerComcast || providerATT) && servicesInternet">
                      <label for="internetRadio-3" class="radioLabel">Blast! (download speeds up to 50 Mbps)</label>
                      </div>
                  </li>
                  <li>
                      <div>
                      <input type="radio" name="internetRadio" id="internetRadio-4" class="radioSquare" value="Extreme 105" ng-model="internetRadio" ng-required="(providerComcast || providerATT) && servicesInternet">
                      <label for="internetRadio-4" class="radioLabel">Extreme 105 (download speeds up to 105 Mbps)</label>
                      </div>
                  </li>
              </ul>
            </div>
            <div ng-show="providerATT" class="padding-top">          
              <p>Choose your Internet package</p>
              <ul style="list-style:none">
                  <li>
                      <div>
                      <input type="radio" name="internetRadio" id="internetRadio-1" class="radioSquare" value="Internet Pro" ng-model="internetRadio" ng-required="(providerComcast || providerATT) && servicesInternet">
                      <label for="internetRadio-1" class="radioLabel">Internet Pro (download speeds up to 3 Mbps)</label>
                      </div>
                  </li>
                  <li>
                      <div>
                      <input type="radio" name="internetRadio" id="internetRadio-2" class="radioSquare" value="Internet Elite" ng-model="internetRadio" ng-required="(providerComcast || providerATT) && servicesInternet">
                      <label for="internetRadio-2" class="radioLabel">Internet Elite (download speeds up to 6 Mbps)</label>
                      </div>
                  </li>
                  <li>
                      <div>
                      <input type="radio" name="internetRadio" id="internetRadio-3" class="radioSquare" value="Internet Max" ng-model="internetRadio" ng-required="(providerComcast || providerATT) && servicesInternet">
                      <label for="internetRadio-3" class="radioLabel">Internet Max (download speeds up to 12 Mbps)</label>
                      </div>
                  </li>
                  <li>
                      <div>
                      <input type="radio" name="internetRadio" id="internetRadio-4" class="radioSquare" value="Internet Max Plus" ng-model="internetRadio" ng-required="(providerComcast || providerATT) && servicesInternet">
                      <label for="internetRadio-4" class="radioLabel">Internet Max Plus (download speeds up to 18 Mbps)</label>
                      </div>
                  </li>
                 <li>
                      <div>
                      <input type="radio" name="internetRadio" id="internetRadio-5" class="radioSquare" value="Internet Max Turbo" ng-model="internetRadio" ng-required="(providerComcast || providerATT) && servicesInternet">
                      <label for="internetRadio-5" class="radioLabel">Internet Max Turbo (download speeds up to 24 Mbps)</label>
                      </div>
                  </li>
              </ul>
            </div>
            <div ng-show="!providerComcast && !providerATT" class="padding-top">
                <p>Speed of Internet (in megabits per second)</p>
                <ul style="list-style:none">    
                  <li>
                    <input type="text" style="width:300px" name="internetPackageName" ng-model="internetSpeed" ng-required="!providerComcast && !providerATT && servicesInternet"/>
                 </li>
                </ul>
            </div>     
          </div>
          <div ng-show="servicesPhone">
            <div ng-show="providerComcast" class="padding-top">
              <p>What home phone plan do you have?</p>
              <ul style="list-style:none">
                  <li>
                      <div>
                      <input type="radio" name="phoneRadio" id="phoneRadio-1" class="radioSquare" value="Unlimited Nationwide" ng-model="phoneRadio" ng-required="servicesPhone">
                      <label for="phoneRadio-1" class="radioLabel">Unlimited Nationwide</label>
                      </div>
                  </li>
                  <li>
                      <div>
                      <input type="radio" name="phoneRadio" id="phoneRadio-2" class="radioSquare" value="International Plan" ng-model="phoneRadio" ng-required="servicesPhone">
                      <label for="phoneRadio-2" class="radioLabel">International Plan</label>
                      </div>
                  </li>
              </ul>
            </div>  
            <div ng-show="providerATT" class="padding-top">  
              <p class="subheaderText botMargin10">What home phone plan do you have?</p>
               <ul style="list-style:none">
                  <li>
                      <div>
                      <input type="radio" name="phoneRadio" id="phoneRadio-1" class="radioSquare" value="250 Minutes Nationwide" ng-model="phoneRadio" ng-required="servicesPhone">
                      <label for="phoneRadio-1" class="radioLabel">250 Minutes Nationwide</label>
                      </div>
                  </li>
                  <li>
                      <div>
                      <input type="radio" name="phoneRadio" id="phoneRadio-2" class="radioSquare" value="Unlimited Nationwide" ng-model="phoneRadio" ng-required="servicesPhone">
                      <label for="phoneRadio-2" class="radioLabel">Unlimited Nationwide</label>
                      </div>
                  </li>
                  <li>
                      <div>
                      <input type="radio" name="phoneRadio" id="phoneRadio-3" class="radioSquare" value="Unlimited International" ng-model="phoneRadio" ng-required="servicesPhone">
                      <label for="phoneRadio-3" class="radioLabel">Unlimited International</label>
                      </div>
                  </li>
              </ul>            
            </div>
            <div ng-show="!providerComcast && !providerATT" class="padding-top">
              <p>What's the name of your phone package?</p>
              <input type="text" style="margin-bottom:0px;width:300px" name="phonePackageName" ng-model="phoneRadio" ng-required="servicesPhone"/>
            </div>    
          </div>
          <div id="userCommentsDiv">
            <div class="padding-top">
              <p ng-hide="providerOther">Share your thoughts on {{providerName}}'s service (Optional & Anonymous)</p>
              <p ng-show="providerOther">Share your thoughts on {{providerNameOther}}'s service (Optional & Anonymous)</p>
              <textarea style="margin-bottom:0px;width:300px" name="userCommentary" ng-model="userComments"></textarea>
            </div>
          </div>  
      </div>
      <div class="padding-top">
        <a ng-click="scrollTop()"><button id="step3button" ng-disabled="!step3Form.$valid" ng-click="step4()">Next</button></a>
      </div>
    </div>
    <div ng-show="step==4" id="addressDiv">
      <div ng-form="step4Form">

        <div class="padding-top">
          <p>Enter Your Street Address</p>
          <div ng-show="step4Form.streetAddress.$error.minlength"><small style="color:red" class="error" >*Please enter a valid street address.</small></div>
          <input type="text" style="margin-bottom:0px;width:300px" id="streetAddress" name="streetAddress" placeholder="123 Elm St." ng-minlength="5" ng-model="address" required>
        </div>    
        <div class="padding-top">
          <p>Enter Your Zip Code</p>
          <div ng-show="step4Form.streetAddress.$error.minlength"><small style="color:red" class="error" ng-show="step4Form.zipCode.$error.minlength">*Please enter a valid zip code.</small></div>
          <input type="text" style="margin-bottom:0px;width:300px" id="zipCode" name="address" placeholder="94103" ng-minlength="5" ng-model="zipCode" required>
        </div>    
        <div class="padding-top" ng-hide="addressFound">
          <button onclick="codeAddress();" ng-disabled="disableButton" >Finish Signup!</button>
          <span>&nbsp;&nbsp;&nbsp;</span><small class="text underline" ng-click="retryButton()" ng-show="disableButton">Didn't work?</small>
        </div>
        <div ng-show="addressFound" class="padding-top" style="background-color:#89f7b7">
          <p class="padding-bottom">We've found your neighborhood!</p>
          <a ng-click="addressFound = false">Search Again</a><span> or<span>
          <button id="step4button" ng-disabled="disableButton" ng-click="addTip()" class="button large">See Results!</button>
          <div id="map_canvas" style="width:100%; height:400px"></div>
        </div>
      </div>
    </div>
  </form>
  </section>
</body>
</html> 